include includes/mixins.pug

doctype html
html
	head
		title Home
		include includes/head.pug
	body
		main
			include includes/header.pug
			section
				div(class="panel")
					a(class="box" href="/users") User Listing
					a(class="box" href="/create_user") Create User