include includes/mixins.pug

doctype html
html
	head
		title Users
		include includes/head.pug
	body
		main
			include includes/header.pug
			section
				div(class="panel")
					a(class="create_user" href="/create_user") Create User
					+users(list)